@import url("https://fonts.googleapis.com/css?family=Raleway");
html,
body {
  height: 100%;
}
body {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  background: #f3f3f3;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  margin: 0;
  padding: 0;
  background: #fff;
  position: fixed;
  top: 0;
  height: 85px;
  width: 100%;
}

.logo {
  height: 85px;
  width: 150px;
}
nav.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-tab:hover {
  background: rgba(165, 42, 42, 0.925);
  text-shadow: 0px 0px 0 rgb(165, 42, 0.925), 1px 1px 0 rgb(165, 123, 26),
    2px 2px 0 rgb(242, 185, 100);

  cursor: pointer;
}

nav.nav-bar a {
  text-decoration: none;
  padding-right: 25px;
  font-size: 20px;
  color: #22283a;
}

nav.nav-bar a:hover {
  text-shadow: 0px 0px 0 rgb(208, 138, 28), 1px 1px 0 rgb(165, 123, 26),
    2px 2px 0 rgb(242, 185, 100), 3px 3px 0 rgb(227, 167, 187);
}

.home-tab {
  background: brown;
  margin-right: 10px;
  color: white;
  width: 70px;
  height: 30px;
  padding: 3px 5px 5px 12px;
  border-radius: 2px;
  font-size: 20px;
}

.request-tab {
  background: brown;
  margin-right: 18px;
  color: white;
  width: 90px;
  height: 30px;
  padding: 3px 5px 5px 12px;
  border-radius: 2px;
  font-size: 20px;
}

.request-tab:hover {
  cursor: pointer;
}

nav.nav-bar p.home-tab a {
  color: white;
}

a {
  color: white;
}
#background {
  height: 40em;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.24)),
    url("../img/borrow-background.jpg");
}

/* Style for landing page welcome note */
.header-text {
  text-align: center;
  padding-top: 1em;
  color: rgba(165, 56, 42, 0.966);
  margin-top: 60px;
  font-family: "Raleway", sans-serif;
}
/* Style for welcome text */
.quick-header {
  font-size: 60px;
  font-weight: bold;
  padding: 0 2em;
  line-height: 2em;
  color: white;
  margin-bottom: 0px;
}

.abt-us {
  color: #0f1721;
  width: 50%;
  line-height: 1.5;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  padding-right: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-left: 8px;
}

/* Style for Notes in landing page */
.sub-text {
  font-size: 30px;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 40px;
  color: white;
}

#buttons {
  margin: 30px 0px;
  text-align: center;
}

/* Style for landing page sign up and learn more button */
.start-btn {
  text-decoration: none;
  color: white;
  font-weight: normal;
  letter-spacing: 2px;
  width: 190px;
  padding: 0.8em 2em;
  background: brown;
  border: solid 2px brown;
  border-radius: 3px;
  display: block;
  margin: 30px 10px;
  display: inline-block;
}
/* style for button hover state */
.transparent:hover {
  background: brown;
}

.transparent {
  background: transparent;
  border: solid white 2px;
}

.second-section {
  padding: 3em 4%;
  font-size: 15px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  padding: 10%;
  background: white;
  width: 95%;
  margin: 120px auto;
  margin-bottom: 0px;
  justify-content: space-between;
}

#slider {
  overflow: hidden;
  width: 50%;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure div {
  float: left;
  width: 20%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}
#slider figure div img {
  width: 20%;
  height: 15%;
  border-radius: 100px;
  align-self: center;
}

#slider figure div a {
  text-decoration: none;
  align-self: center;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
}

.profile-img {
  height: 100px;
  border-radius: 50px;
  width: 120px;
  margin-left: 120px;
}
.right-section {
  width: 42%;
  text-align: center;
}
.right-section h2 {
  font-weight: bolder;
  font-size: 30px;
}

.about-section p {
  font-size: 20px;
  color: grey;
}

.right-section p {
  font-size: 24px;
  color: grey;
}

p.earn {
  background: #22283a;
  height: 50px;
  border-radius: 5px;
  color: white;
  padding-top: 10px;
}
p.earn:hover {
  background: #3a2a22;
  cursor: pointer;
}

.list-items {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 3%;
  align-self: center;
  width: 100%;
}

.tools {
  padding-right: 10px;
}

.tools p {
  text-align: center;
}

.price {
  background: rgba(165, 61, 42, 0.932);
  color: white;
}
footer {
  padding-bottom: 1em;
  font-size: 0.9375rem;
  color: white;
  margin-top: 20px;
  background-color: #22283a;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 3em 1em;
  font-size: 0.9375rem;
  color: white;
}

.footer-contents {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer > div ul {
  list-style-type: none;
  margin-left: -40px;
}

.footer > div ul li {
  padding-top: 5px;
  padding-bottom: 16px;
}
.footer .footer-contents p {
  padding-bottom: -55px;
  /* background: yellow; */
}
.copyright {
  text-align: center;
}

.requests {
  margin-top: 120px;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
}

td,
th {
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: white;
}
tr:nth-child(odd) {
  background-color: #dddddd;
}

tr:nth-child(1) {
  background: #f4a460;
  padding-right: 0;
  margin-right: 0;
  width: 100%;
}
td:nth-child(4) {
  background-color: #f4a460;
  border: 1px solid white;
  color: white;
  height: 10px;
  font-weight: bolder;
  cursor: pointer;
}

td:nth-child(5) {
  font-weight: bolder;
}

td:nth-child(5):hover {
  background: #f4a460;
  cursor: pointer;
  color: whitesmoke;
}

.request-form {
  margin: 0 auto;
  width: 70%;
  background: white;
  padding: 3%;
  margin-top: 20px;
  border-radius: 4px;
}

.request-form input {
  width: 40%;
  height: 40px;
  border: 1px solid grey;
}

.request-form label {
  font-weight: bold;
}

.request-form h2 {
  margin-bottom: 40px;
  margin-left: 20%;
  font-weight: bolder;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.829);
}

#Location {
  margin-left: 52px;
}
#Tool {
  margin-left: 10px;
}

#Date {
  margin-left: 25px;
}

.request-form select {
  width: 40%;
  height: 40px;
  border: 1px solid grey;
}

.inputs {
  margin-bottom: 20px;
}

.privacy input {
  height: 10px;
  margin-left: -100px;
}

.submit {
  background: brown;
  height: 40px;
  align-self: center;
  box-shadow: none;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  border: none;
  width: 20%;
  margin-left: 25%;
  margin-top: 20px;
  cursor: pointer;
}

.submit:hover,
.submit:focus {
  background: saddlebrown;
}

.submit:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.submit:active {
  transform: scale(0.99);
}

/* STYLE FOR SIGNIN FORM */
.form-container {
  max-width: 400px;
  margin: 130px auto 80px auto;
  padding: 30px 40px 20px 40px;
  background: white;
  border-radius: 3px;
}

@media screen and (max-width: 800px) {
  .form-container {
    margin: 100px auto 0px auto;
  }
}
div h3 {
  line-height: 28px;
  text-align: center;
  font-size: 20px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #32669a;
  border-radius: 3px;
  color: inherit;
}

::placeholder {
  color: #999;
}
button[type="submit"] {
  margin: 40px 0;
  margin-bottom: 20px;
  width: 100%;
  padding: 14px 0;
  background: brown;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

button[type="submit"]:hover {
  opacity: 0.9;
  background: rgba(165, 91, 42, 0.938);
}
button[type="submit"]:focus {
  outline: none;
}
#submit {
  margin: 40px 0;
  margin-bottom: 20px;
  width: 100%;
  padding: 14px 0;
  background: brown;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.acct {
  text-align: center;
  font-size: 16px;
}

.sign-link {
  color: green;
  font-size: 15px;
  text-decoration: none;
}

/* STYLE FOR SIGNUP PAGE */

.signup-container {
  max-width: 400px;
  margin: 130px auto 80px auto;
  margin-bottom: 50%;
  padding: 30px 40px 20px 40px;
  background: white;
  border-radius: 3px;
}

.google-map {
  margin-top: 30px;
  margin-left: 20%;
}

.nav-bar .icon {
  display: none;
}
/* RESPONSIVENESS */
.menu-icon {
  display: none;
}
@media (max-width: 500px) {
  .header {
    min-width: 60%;
    background: white;
    height: 100px;
  }

  .header-text {
    margin-top: 90px;
  }

  nav.nav-bar {
    /* width: 100%; */
    display: flex;
    flex-direction: column-reverse;
  }
  nav.nav-bar a {
    display: none;
  }

  /* hambu */

  @media screen and (max-width: 500px) {
    .nav-bar a.icon {
      float: right;
      padding-top: 10px;
      display: block;
    }

    .nav-bar a.icon:hover {
      text-shadow: none;
    }
  }

  @media screen and (max-width: 500px) {
    .nav-bar.responsive {
      position: relative;
    }
    .nav-bar.responsive .icon {
      position: relative;
      right: 4;
    }
    .nav-bar.responsive a {
      float: none;
      display: block;
      text-align: left;
      font-size: 10.5px;
      padding-bottom: 8px;
      font-weight: bold;
    }

    .sign-header {
      background: whitesmoke;
    }
  }

  /* HAMMSM */

  .home-tab {
    display: none;
  }
  .logo {
    width: 70px;
    color: #f3f3f3;
  }

  .quick-header {
    font-size: 20px;
    font-weight: light;
    padding: 0 2em;
    line-height: 1em;
    color: white;
  }

  .sub-text {
    font-size: 15px;
    margin-top: 10px;
    font-weight: lighter;
    font-size: 20px;
    color: white;
  }

  .abt-us {
    color: #0f1721;
    width: 80%;
    line-height: 1.5;
    margin: 0 auto;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 3px;
    padding-left: 3px;
    font-weight: bold;
  }

  .second-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10%;
    width: 95%;
    margin: 120px auto;
    margin-bottom: 0px;
    justify-content: space-between;
  }

  .about-section {
    margin-top: 20px;
    width: 100%;
    padding-right: 20px;
  }

  .right-section {
    width: 100%;
    text-align: center;
  }

  .profile-img {
    height: 100px;
    border-radius: 50px;
    width: 120px;
    margin-left: 80px;
  }
  .list-items {
    margin-top: 20px;
    display: flex;
    flex-wrap: column;
    padding-left: 3%;
    align-self: center;
  }

  .tools {
    width: 100%;
  }
  .tools img {
    width: 100%;
  }

  .footer-contents {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 16px;
    padding-right: 14px;
  }

  .google-map {
    display: none;
  }

  table {
    min-width: 60%;
    font-size: 12px;
  }

  .request-form {
    margin: 0 auto;
    width: 90%;
    margin-top: 10px;
  }

  .submit {
    width: 40%;
  }
  button.submit:hover {
    cursor: pointer;
  }

  .request-form input {
    width: 50%;
  }

  .request-form select {
    width: 50%;
  }

  .request-tab {
    display: none;
  }

  #slider figure div p {
    width: 100%;
  }
  #slider {
    overflow: hidden;
    width: 100%;
  }

  #slider figure div img {
    width: 45%;
    height: 40%;
  }
}
