@import url("https://fonts.googleapis.com/css?family=Raleway");
html,
body {
  height: 100%;
}
body {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  height: 90px;
}
nav.nav-bar {
  display: flex;
}
nav.nav-bar a {
  text-decoration: none;
  padding-right: 25px;
  color: #22283a;
}
